:root {
    --bg-color: white;
    --head-color: black;
    --text-color: black;
    --link-color: blue;
    --link-hover-color: darkblue;
    --link-visited-color: purple;
    --link-active-color: red;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #121212;
        --head-color: rgb(78, 78, 78);
        --text-color: white;
        --link-color: lightblue;
        --link-hover-color: cyan;
        --link-visited-color: lightpurple;
        --link-active-color: lightred;
    }
}

html {
    background-color: var(--bg-color);
    color: var(--text-color);

    a:link {
        color: var(--link-color);
    }

    a:visited {
        color: var(--link-visited-color);
    }

    a:hover {
        color: var(--link-hover-color);
    }

    a:active {
        color: var(--link-active-color);
    }
}

header {
    /* position: fixed; */
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--head-color);
}
header nav {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
}

header nav a:link, header nav a:visited, header nav a:hover, header nav a:active {
    display: flex;
    gap: 1rem;
    color: var(--text-color);
    text-decoration: none;
    margin: 5px;
}

/* header > image { */
.logo {
    width: auto;
    height: 50px;
    max-height: 300px;
}

body {
    margin: 0;
}

body>div {
    margin: 8px;
    margin-top: 0px;
}

footer {
    background-color: var(--bg-color);
    margin-top: 8px;
    display: flex;
    justify-content: center;
}