<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <header>
        <a class="header-logo" href="./">
            <img src="/ロゴ.png" alt="ロゴ" href="" class="logo">
        </a>
        <!--
        <div>
            共通ヘッダー
        </div>
        <div>
            共通サブヘッダー
        </div>
        -->
        <nav>
            <a href="./">home</a>
            <a href="./about">about</a>
            <a href="./game/reversi">リバーシ</a>
            <a href="./game/reversi">リバーシ</a>
            <a href="./game/reversi">リバーシ</a>
        </nav>
    </header>
    <div class="test">

        {{ content }}

        <footer>
            共通フッター
        </footer>
    </div>
</body>

</html>